extends layout
block content


    h2 Couriers
        p There are #{couriers.length} couriers in the system.
        ol  
            each courier in couriers
                li 
                    a(href=`/couriers/${courier.id}`)  #{courier.name}
