extends layout
block content


    h2 Depots
        p There are #{depots.length} depots in the system.
        ol  
            each depot in depots
                li 
                    a(href=`/depots/${depot.id}`)  #{depot.name}
