extends layout
block content


    h1 Depot Detail
    p <strong>Name:</strong>#{depot.name}
    p <strong>Depot Address:</strong>#{depot.address}
    p <strong>Depot Geolocation:</strong>#{depot.geolocation}
    
