extends layout
block content


    h1 Product Details
    p  <strong>Name:</strong> #{product.name}
    p  <strong>Image:</strong> #{product.photo}
    p  <strong>Price:</strong> #{product.price} TL
    p  <strong>Category:</strong> #{product.category}
