extends layout
block content


    h2 Products Page
        p There are #{products.length} product in the system.
        ol 
            each product in products 
             li
                a(href=`/products/${product.id}`)  #{product.name}
