extends layout
block content


    h1 User Detail
    h2 #{user.name}

    p Order History 
//- bu kısım daha hazır değil
    if user.order.length 
        ol
            each order in user.order 
                li From #{order.origin} to #{order.destination}
    else 
        p No Orders

