extends layout
block content


    h2 Users Page
        p There are #{users.length}  users in the system.
        ol 
            each user in users 
             li
                a(href=`/users/${user.id}`)  #{user.name}